@import url("https://fonts.googleapis.com/css2?family=Lalezar&display=swap");

body {
  font-family: "Lalezar", cursive !important;
  direction: rtl;
}
.carousel-inner {
  max-height: 70vh !important;
}
.carousel-caption {
  top: 25%;
}

.git-hub-icon {
  max-width: 30px;
}
@media (max-width: 992px) {
  .carousel-item .col-md-3 {
    float: none !important;
  }
  .carousel-caption h5 {
    font-size: 20px !important;
  }
}
@media (max-width: 768px) {
  .carousel-caption {
    top: 40%;
  }
  #search-form {
    display: none !important;
  }
}
@media (max-width: 354px) {
  .carousel-caption h5 {
    font-size: 10px !important;
  }
}
